*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    align-items: center;
    text-align: center;
}
.fundo{
    width: 100vw;
    height: 100vh;
    background-color: #121212;
    position: absolute;
}
.title{
    color: white;
    font-family: sans-serif;
}
.input_container{
    margin-top: 20px;
}
.input{
    width: 300px;
    height: 40px;
    border-radius: 45px;
    border: none;
    padding: 0 15px;
}
.btn_enviar{
    width: 45px;
    height: 35px;
    border-radius: 45px;
    border: none;
    margin-left: 10px;
    background-color: #6200EE;
    color: white;
    cursor: pointer;
}