*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    align-items: center;
    text-align: center;
    background: linear-gradient(red, yellow);
}
.fundo{
    background: linear-gradient(red, yellow);
    height: 100vh;
}
.title{
    color: white;
    font-size: 50px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: orange;
    transform: scale(1.05);
    transition: 0.5s;
}
.inp{
  border-radius: 10px;
  width: 300px;
  height: 40px;
  font-size: 30px;
}
.btn_ia{
    background-color: purple;
    color: white;
    width: 300px;
    height: 45px;
    border-radius: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    transform: matrix3d(1.2ms);
    cursor: pointer;
    transition: 1.05ms;
}
.btn_ia:hover{
    background-color: violet;
    transform: scale(1.05);
    transition: 0.5s;
}