*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    align-items: center;
    text-align: center;
     background: linear-gradient(red, yellow);
}
.fundo{
    background: linear-gradient(red, yellow);
    height: 100vh;
}
.title{
    color: white;
    font-size: 50px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.inp{
  border-radius: 10px;
  width: 300px;
  height: 40px;
  font-size: 30px;
}
