*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    align-items: center;
    text-align: center;
    background-color: black;
}
.fundo{
    background-color: black;
    height: 100vh;
}
.btn{
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
